config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-api-server:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-api-server
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-aqua-cougar.sh
        container: qc.acc_smelly-pumpkin-elephant
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.homey-lime-affenpinscher.sh
        container: qc.doc_chummy-periwinkle-foxhound
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-puce-salamander.sh
        container: qc.doc_cheeky-khaki-spider
      github.com/EOSC-synergy/sqaaas-api-server markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-peach-lizard.sh
        container: qc.doc_leaky-bistre-squid
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server licensee:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-orchid-mastiff.sh
        container: qc.lic_flabby-chartreuse-rottweiler
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-apricot-weasel.sh
        container: qc.met_pasty-periwinkle-axolotl
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server bandit:
        commands:
        - /usr/bin/env sh .sqa/script.nerdy-vermilion-dog.sh
        container: qc.sec_lovely-buff-monkey
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server flake8:
        commands:
        - /usr/bin/env sh .sqa/script.snappy-linen-squirrel.sh
        container: qc.sty_messy-scarlet-collie
      github.com/EOSC-synergy/sqaaas-api-server hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-tangerine-bear.sh
        container: qc.sty_stinky-celadon-guppy
      github.com/EOSC-synergy/sqaaas-api-server jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.gloppy-rose-booby.sh
        container: qc.sty_wiggy-olive-cow
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server pytest:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-green-bulldog.sh
        container: qc.uni_scanty-white-gerbil
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.wiggy-lemon-clam.sh
        container: qc.ver_wheezy-brass-vulture
timeout: 5400
