config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-api-server:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-api-server
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-pink-binturong.sh
        container: qc.acc_breezy-brass-vulture
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.hilly-olive-shark.sh
        container: qc.doc_sickly-silver-camel
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-champagne-hornet.sh
        container: qc.doc_whiny-vermilion-cow
      github.com/EOSC-synergy/sqaaas-api-server markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.hasty-cobalt-schnauzer.sh
        container: qc.doc_zippy-ecru-turkey
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server licensee:
        commands:
        - /usr/bin/env sh .sqa/script.shabby-aqua-chamois.sh
        container: qc.lic_chummy-cerulean-schnauzer
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-rust-frog.sh
        container: qc.met_pretty-denim-fox
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server bandit:
        commands:
        - /usr/bin/env sh .sqa/script.homey-salmon-dollar.sh
        container: qc.sec_snoopy-russet-robin
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server flake8:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-azure-iguana.sh
        container: qc.sty_surly-buff-monster
      github.com/EOSC-synergy/sqaaas-api-server hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-celadon-bison.sh
        container: qc.sty_cranky-denim-moorhen
      github.com/EOSC-synergy/sqaaas-api-server jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-heliotrope-rattlesnake.sh
        container: qc.sty_silly-tangerine-serval
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server pytest:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-peach-skunk.sh
        container: qc.uni_lovely-turquoise-coral
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-violet-uakari.sh
        container: qc.ver_foggy-pear-clam
timeout: 5400
