config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-api-server:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-api-server
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-rust-vole.sh
        container: qc.acc_paltry-firebrick-hippopotamus
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.zippy-ruby-reindeer.sh
        container: qc.doc_geeky-chartreuse-greyhound
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.randy-chocolate-zebu.sh
        container: qc.doc_shabby-smalt-civet
      github.com/EOSC-synergy/sqaaas-api-server markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.wheezy-red-numbat.sh
        container: qc.doc_stinky-periwinkle-magpie
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server licensee:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-crimson-horse.sh
        container: qc.lic_gamy-emerald-dolphin
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.ready-carmine-uakari.sh
        container: qc.met_fuzzy-emerald-mongoose
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server bandit:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-firebrick-chamois.sh
        container: qc.sec_lanky-goldenrod-binturong
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server flake8:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-pear-dragonfly.sh
        container: qc.sty_lousy-purple-birman
      github.com/EOSC-synergy/sqaaas-api-server hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.breezy-linen-birman.sh
        container: qc.sty_breezy-azure-cassowary
      github.com/EOSC-synergy/sqaaas-api-server jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.ready-jade-birman.sh
        container: qc.sty_sleepy-magenta-tortoise
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server pytest:
        commands:
        - /usr/bin/env sh .sqa/script.crappy-gold-meerkat.sh
        container: qc.uni_craggy-rose-cockroach
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-heliotrope-mastiff.sh
        container: qc.ver_squirrely-bistre-bombay
timeout: 5400
