config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-api-server:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-api-server
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-rust-opossum.sh
        container: qc.acc_stuffy-fuchsia-caiman
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-apricot-barb.sh
        container: qc.doc_gamy-pumpkin-stoat
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-lilac-duck.sh
        container: qc.doc_woozy-ecru-shrew
      github.com/EOSC-synergy/sqaaas-api-server markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-tan-zebra.sh
        container: qc.doc_crabby-tangerine-deer
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server licensee:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-salmon-blue.sh
        container: qc.lic_skinny-dandelion-corgi
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-maroon-elephant.sh
        container: qc.met_stealthy-burgundy-ibis
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server bandit:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-goldenrod-serval.sh
        container: qc.sec_squirrely-auburn-bloodhound
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server flake8:
        commands:
        - /usr/bin/env sh .sqa/script.zippy-beige-impala.sh
        container: qc.sty_queasy-orange-dachshund
      github.com/EOSC-synergy/sqaaas-api-server hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-tangerine-tzu.sh
        container: qc.sty_wiggy-sepia-husky
      github.com/EOSC-synergy/sqaaas-api-server jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-red-turkey.sh
        container: qc.sty_gummy-corn-gecko
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server pytest:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-malachite-earwig.sh
        container: qc.uni_sickly-charcoal-wrasse
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-orchid-starfish.sh
        container: qc.ver_craggy-persimmon-giraffe
timeout: 5400
