config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-api-server:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-api-server
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-magenta-seal.sh
        container: qc.acc_whiny-mauve-abyssinian
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.nerdy-green-bandicoot.sh
        container: qc.doc_pokey-black-saola
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-turquoise-loon.sh
        container: qc.doc_ready-tangerine-grasshopper
      github.com/EOSC-synergy/sqaaas-api-server markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.ready-lemon-weasel.sh
        container: qc.doc_pasty-russet-iguana
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server licensee:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-asparagus-toucan.sh
        container: qc.lic_frumpy-amethyst-chipmunk
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.cheeky-olivine-drever.sh
        container: qc.met_whiny-turquoise-wolverine
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server bandit:
        commands:
        - /usr/bin/env sh .sqa/script.chummy-razzmatazz-angora.sh
        container: qc.sec_goopy-firebrick-echidna
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server flake8:
        commands:
        - /usr/bin/env sh .sqa/script.messy-heliotrope-cattle.sh
        container: qc.sty_boozy-yellow-fish
      github.com/EOSC-synergy/sqaaas-api-server hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.shabby-cobalt-gorilla.sh
        container: qc.sty_homely-orchid-dunker
      github.com/EOSC-synergy/sqaaas-api-server jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-cinnabar-snake.sh
        container: qc.sty_wimpy-sepia-bee
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server pytest:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-cornflower-shrimp.sh
        container: qc.uni_cozy-pear-butterfly
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-brown-neanderthal.sh
        container: qc.ver_sunny-seashell-drever
timeout: 5400
