config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-api-server:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-api-server
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-khaki-indri.sh
        container: qc.acc_hazy-pear-stoat
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-persimmon-coati.sh
        container: qc.doc_cloudy-saffron-tarantula
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-xanthic-newt.sh
        container: qc.doc_homey-viridian-cat
      github.com/EOSC-synergy/sqaaas-api-server markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-olivine-otter.sh
        container: qc.doc_foggy-aqua-termite
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server licensee:
        commands:
        - /usr/bin/env sh .sqa/script.chummy-cardinal-dogfish.sh
        container: qc.lic_hazy-violet-cat
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.beady-cinnabar-elephant.sh
        container: qc.met_frumpy-rose-albatross
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server bandit:
        commands:
        - /usr/bin/env sh .sqa/script.chewy-mustard-lobster.sh
        container: qc.sec_stinky-vermilion-squirt
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server flake8:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-buff-gorilla.sh
        container: qc.sty_gummy-sapphire-greyhound
      github.com/EOSC-synergy/sqaaas-api-server hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.beady-fuchsia-bear.sh
        container: qc.sty_grumpy-amethyst-corgi
      github.com/EOSC-synergy/sqaaas-api-server jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-thistle-earwig.sh
        container: qc.sty_skinny-cobalt-guppy
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server pytest:
        commands:
        - /usr/bin/env sh .sqa/script.silly-cardinal-angelfish.sh
        container: qc.uni_ready-cobalt-gecko
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-puce-loon.sh
        container: qc.ver_snazzy-cinnamon-ferret
timeout: 5400
