config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-api-server:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-api-server
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-xanthic-dalmatian.sh
        container: qc.acc_hazy-yellow-spitz
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-aqua-uakari.sh
        container: qc.doc_sleepy-asparagus-hound
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-chocolate-meerkat.sh
        container: qc.doc_fuzzy-green-chow
      github.com/EOSC-synergy/sqaaas-api-server markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-dandelion-kakapo.sh
        container: qc.doc_wimpy-aqua-hare
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server licensee:
        commands:
        - /usr/bin/env sh .sqa/script.clammy-black-neanderthal.sh
        container: qc.lic_craggy-copper-moose
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-pear-warthog.sh
        container: qc.met_squirrely-lime-yak
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server bandit:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-myrtle-lionfish.sh
        container: qc.sec_stealthy-cornflower-dolphin
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server flake8:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-white-corgi.sh
        container: qc.sty_muggy-turquoise-ray
      github.com/EOSC-synergy/sqaaas-api-server hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.beady-sangria-bonobo.sh
        container: qc.sty_tacky-puce-peccary
      github.com/EOSC-synergy/sqaaas-api-server jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-magenta-bracke.sh
        container: qc.sty_geeky-ochre-newfoundland
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server pytest:
        commands:
        - /usr/bin/env sh .sqa/script.clammy-pumpkin-fox.sh
        container: qc.uni_pretty-corn-rattlesnake
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.wiggy-malachite-zorse.sh
        container: qc.ver_messy-saffron-spitz
timeout: 5400
