config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-api-server:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-api-server
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-myrtle-eagle.sh
        container: qc.acc_craggy-saffron-chow
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-cinnabar-dunker.sh
        container: qc.doc_dorky-ochre-gharial
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-malachite-hyrax.sh
        container: qc.doc_scummy-scarlet-urchin
      github.com/EOSC-synergy/sqaaas-api-server markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-champagne-peccary.sh
        container: qc.doc_jumpy-dandelion-tzu
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server licensee:
        commands:
        - /usr/bin/env sh .sqa/script.surly-amaranth-kakapo.sh
        container: qc.lic_ugly-violet-chamois
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-thistle-husky.sh
        container: qc.met_gloppy-wheat-caterpillar
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server bandit:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-xanthic-zorse.sh
        container: qc.sec_dorky-tangerine-opossum
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server flake8:
        commands:
        - /usr/bin/env sh .sqa/script.boozy-beige-robin.sh
        container: qc.sty_slaphappy-orchid-gar
      github.com/EOSC-synergy/sqaaas-api-server hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-salmon-bullfrog.sh
        container: qc.sty_flimsy-brass-chihuahua
      github.com/EOSC-synergy/sqaaas-api-server jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-puce-squirrel.sh
        container: qc.sty_bluesy-ecru-mist
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server pytest:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-goldenrod-burmese.sh
        container: qc.uni_skanky-thistle-vole
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-cornflower-liger.sh
        container: qc.ver_snoopy-rose-cuttlefish
timeout: 5400
