config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-api-server:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-api-server
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-platinum-akita.sh
        container: qc.acc_tacky-auburn-frog
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.ready-sapphire-slug.sh
        container: qc.doc_crabby-emerald-devil
      github.com/EOSC-synergy/sqaaas-api-server git:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-chartreuse-beaver.sh
        container: qc.doc_tacky-cinnabar-falcon
      github.com/EOSC-synergy/sqaaas-api-server markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-charcoal-dalmatian.sh
        container: qc.doc_squirrely-jade-capybara
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server licensee:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-russet-stoat.sh
        container: qc.lic_lanky-tan-caracal
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-mustard-bobcat.sh
        container: qc.met_slimy-teal-cichlid
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server bandit:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-purple-chinook.sh
        container: qc.sec_baggy-pumpkin-otter
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server flake8:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-ivory-beaver.sh
        container: qc.sty_grumpy-aquamarine-beetle
      github.com/EOSC-synergy/sqaaas-api-server hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.wiggy-blue-albatross.sh
        container: qc.sty_stuffy-celadon-chamois
      github.com/EOSC-synergy/sqaaas-api-server jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.homely-corn-gecko.sh
        container: qc.sty_boozy-apricot-balinese
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server pytest:
        commands:
        - /usr/bin/env sh .sqa/script.goopy-brown-hyrax.sh
        container: qc.uni_leaky-purple-bulldog
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-api-server get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-seashell-rat.sh
        container: qc.ver_lumpy-amaranth-cichlid
timeout: 5400
